core/tmp
core/config/settings.py
*.py[cod]
*.pyc
nohup.out
*.log
venv
core/var/log/messages.log
uploads
build
.env
.autonose-depends.pickle

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.idea
.mr.developer.cfg
.project
.pydevproject
