BeautifulSoup==3.2.1
IMAPClient>=0.9.1
Mako==0.9.0
MarkupSafe==0.18
MySQL-python>=1.2.4
Pillow>=5.3.0
PyAudio>=0.2.7
pyyaml>=4.2b1
Pygments>=1.6
SOAPpy==0.12.5
SQLAlchemy>=0.8.2
Unipath>=1.0
alembic>=0.6.0
argparse>=1.2.1
beautifulsoup4>=4.2.1
cffi>=0.8.1
configparser>=3.3.0r2
docutils>=0.10
extras>=0.0.3
fpconst>=0.7.2
gdata>=2.0.18
geoip2>=0.6.0
html5lib>=1.0b2
httplib2>=0.8
httpretty>=0.6.0
ipaddr>=2.1.11
isodate==0.4.9
itsdangerous>=0.22
keyring>=1.5
kitchen==1.1.1
lxml>=3.1.0
maxminddb>=0.3.3
mechanize>=0.2.5
nltk>=2.0.4
nose==1.3.0
numpy>=1.7.1
oauth>=1.0.1
oauth2>=1.5.211
oauthlib>=0.4.2
parallel>=0.2.5
parsedatetime>=1.1.2
pyOpenSSL>=18.0
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycurl>=7.19.0
pyflakes>=0.7.3
pygeoip>=0.2.6
pyjulius>=0.3
pymongo>=2.5.2
pyparsing>=1.5.7
pyserial>=2.6
python-crontab>=1.4.1
python-dateutil>=2.1
python-linkedin>=4.0
python-mimeparse>=0.1.4
python-twitter>=1.0
pyzmq>=13.1.0
redis>=2.7.6
simplejson>=3.3.0
six>=1.3.0
sleekxmpp==1.1.11
sure==1.2.2
testtools==0.9.32
twilio>=3.5.1
twill>=0.9
unittest2==0.5.1
wsgiref==0.1.2
wstools==0.4.3
zmqpy==0.3.2
flask>=0.12.3
Flask-Sockets
flask-socketio
flask-oauth
pycrypto>=2.6
requests>=2.21.0
requests-oauthlib>=1.0.0
apscheduler==3.6.3
